@font-face {
    font-family: MyriadPro-Bold;
    src: url('./fonts/MyriadPro-Regular.otf');
}
@font-face {
    font-family: ImpactMTStd;
    src: url('./fonts/ImpactMTStd.otf');
}
@keyframes box {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
div#container {
    width:1200px;
    margin:0 auto;
}
body {
    background-color: black;
    margin:0 auto;
}
/*header part*/
div#header {
    height:656px;
    background-image: url("./picture/1.jpg");
}
div#bottom_part {
    height:500px;
    background-color:blue;
}
div#top_bar {
    height:52px;
    width:1200px;
    opacity:0.8;
    background-color:black;
    overflow:hidden;
}
img#search_logo{
    float: right;
    margin: 14px 15px 13px 17px;
    display: inline-block;
}
span#search {
    width: 173px;
    margin-top: 10px;
    float: right;
    height: 42px;
}
#search img {
    position: relative;
    bottom: 24px;
    left: 50px;
    margin: 0;
    display: inline-block;
    line-height: 31px;
    opacity: 0.5;
}
#search input {
    border: 0;
    margin-right: 0;
    height:31px;
    width:98px;
    opacity:0.25;
    border-radius:5px;
    display:inline-block;
    padding-left: 75px;
    font-family: MyriadPro-Bold;
    font-size: 19px;
}
img#logo {
    position: relative;
    bottom: 39px;
    left: 3px;
}
img#login {
    float: right;
    margin:auto 17px 13px 15px;
}
ul.bar_menu {
    text-align: center;
    line-height: 54px;
    position: relative;
    bottom: 65px;
    left: 3px;
    margin: 0;
    padding: 0;
    width: 285px;
    height: 52px;
    list-style-type: none;
    font-size: 19px;
    display: inline-block;
}
li#dot {
    letter-spacing: 5px;
    line-height: 45px;
}
.bar_menu li {
    float:left;
    margin:0;
    width:95px;
    height: 52px;
    display: block;
}
.bar_menu li:hover{
    background-color: grey;
}
.bar_menu a{
    text-decoration: none;
    color: white;
    text-align: center;
    width: 95px;
    font-family: MyriadPro-Bold;
    height: auto;
    display: block;
}
div#carousal {
    height: 604px;
    width: 1200px;
}
ul.node_list {
    margin: 0;
    padding: 0;
}
.node_list li {
    position: relative;
    top: 541px;
    /*height: 25px;*/
    display: inline-block;
    /*width: 150px;*/
    background-color: white;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
/*li#node_big {
    top: 541px;
    position: absolute;
    left: 486px;
    width: 19px;
    height: 20px;
    background-color: transparent;
    border-radius: 50%;
    border: 3px white solid;
}*/
li#node_1 {
    transform: scale(1.6, 1.6);
    left: 478px;
}
li#node_2 {
    left: 493px;
}
li#node_3 {
    left: 508px;
}
li#node_4 {
    left: 523px;
}
li#node_5 {
    left: 539px;
}
div#button_left {
    margin-top: 220px;
    float: left;
    width: 46px;
    height: 92px;
    border-bottom-right-radius: 46px;
    border-top-right-radius: 46px;
    background-color: black;
    opacity: 0.7;
}
div#button_left:hover {
    opacity: 0.5;
}
div#button_right {
    margin-top: 220px;
    float: right;
    width: 46px;
    height: 92px;
    border-bottom-left-radius: 46px;
    border-top-left-radius: 46px;
    background-color: black;
    opacity: 0.7;
}
div#button_right:hover {
    opacity: 0.5;
}
span#carousal_icon {
    padding-right: 536px;
    display: inline-block;
    width: 664px;
}
#carousal_icon img {
    display: inline-block;
    float: right;
    height: 25px;
    width: 127px;
}
span.arrow {
    position: relative;
    left: 8px;
    top: 18px;
    font-family: MyriadPro-Bold;
    font-size: 45px;
    color: white;
}
/*main part*/
div#main {
    background-color:white;
}
div#recommendation {
    height: 586px;
}
#recommendation p {
    width: 243px;
    margin-top: 22px;
}
.headline {
    float:left;
    margin-bottom: 0;
    height: 46px;
    background-color: #f15024;
    margin-left: 193px;
    font-size: 28px;
    line-height: 46px;
    text-align: center;
    color: white;
    font-family: MyriadPro-Bold;
}
#first_more_icon img{
    margin-top: 22px;
}
img#big_picture {
    float:left;
    margin-top: 18px;
    margin-left: 193px;
    width: 417px;
    height: 417px;
    display: block;
}
img.more_icon {
    float: right;
    margin-right: 196px;
    width: 48px;
    height: 48px;
    display: block;
}
img.more_icon:hover {
    opacity:0.7;
}
ul#main_pictures {
    padding: 0;
    list-style-type: none;
    height: 498px;
    width: 394px;
    float: right;
    margin-top: 18px;
    margin-bottom: 0;
    margin-right: 166px;
}
#main_pictures li {
    display: block;
    width: 168px;
    height: 244px;
    margin-right: 29px;
    padding: 0;
    float: left;
    text-align: center;
}
.pic_name {
    font-family: MyriadPro-Bold;
    font-size: 16px;
    text-align: center;
    margin-top: 12px;
    color: #121212;
    width: 168px;
    margin-right: 29px;
    display: block;
}
.pic_add {
    font-family: MyriadPro-Bold;
    font-size: 14px;
    text-align: center;
    margin-top: 6px;
    color: #868686;
    width: 168px;
    margin-right: 29px;
    display: block;
}
#radio {
    height: 463px;
}
#radio p{
    margin-top: 0;
    width: 98px;
}
ul.radio_list {
    float: left;
    width: 862px;
    margin-left: 193px;
    list-style-type: none;
    padding: 0;
    margin-right: 0;
    margin-bottom: 0;
}
.radio_list li {
    float: left;
    display: inline-block;
    margin-right: 47px;
    margin-bottom: 25px;
    width: 168px;
    height: 168px;
}
.radio_list img {
    width: 168px;
    height: 168px;
}
.radio_list img:hover {
    transform: scale(1.02, 1.02);
}
.radio_list span {
    position: relative;
    bottom: 94px;
    text-align: center;
    display: block;
    width: 168px;
    font-family: MyriadPro-Bold;
    color: white;
    font-size: 25px;
}
#hotest {
    height: 825px;
}
#hotest p {
    margin-top: 0;
    width: 113px;
}
div.top_list {
    height: 370px;
    width: 815px;
    margin-left: 193px;
    display: block;
    float: left;
    margin-top: 18px;
}
ul.songs_list {
    list-style-type: none;
    background-color: #202020;
    width: 212px;
    height: 324px;
    float: left;
    padding: 0;
    margin: 0;
    display: block;
}
.songs_list li {
    display: block;
    height: 55px;
    width: 212px;
    border-bottom: 2px black solid;
}
.songs_list img {
    opacity: 0.8;
    margin: 4px;
}
.songs_list a {
    float: left;
    margin: 7px 5px;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: black;
}
.songs_list span {
    color: white;
    font-family: MyriadPro-Bold;
}
span.number {
    float: left;
    text-align: center;
    margin: 0;
    display: table;
    font-size: 62px;
    width: 50px;
    padding-top: 7px;
    line-height: 50px;
}
span.list_headline {
    font-size: 25px;
    float: left;
    width: 162px;
    padding-top: 7px;
    line-height: 22px;
}
span.top_num {
    float: left;
    padding-top: 4px;
    text-align: right;
    width: 130px;
}
li.load_more {
    height: 41px;
    width: 212px;
    border: 0;
}
span.songs_name {
    width: 162px;
    padding-top: 5px;
    font-size: 17px;
    float: left;
}
span.singer_name {
    padding-top: 6px;
    color: #aaaaaa;
    font-size: 14px;
    float: left;
}
.load_more span {
    padding: 0;
    line-height: 41px;
    text-align: center;
    display: block;
    width: 212px;
    background-color: #202020;
}
.load_more a {
    border-radius: 0;
    margin: 0;
}
div.pointer {
    margin-left: 5px;
    position: relative;
    top: 78px;
    border-color: transparent #505050 transparent transparent;
    border-style: dashed solid dashed dashed;
    border-width: 9px 13px 9px 0;
    width: 0;
    height: 0;
    float: left;
}
div.music_main {
    width: 584px;
    height: 324px;
    background-color: #505050;
    float: left;
}
div.music_surface {
    display: inline-block;
    border: 6px white solid;
    border-radius: 68px;
    width: 125px;
    height: 125px;
    margin-left: 15px;
    margin-top: 9px;
}
.music_surface img {
    animation: box 10s linear 0s infinite;
    position: absolute;
    display: block;
    border-radius: 68px;
    width: 125px;
    height: 125px;
}
div.cover {
    border: 6px white solid;
    display: inline-block;
    width:48px;
    height: 48px;
    background-color: #505050;
    border-radius: 30px;
    position: relative;
    margin: 0;
    left: 33px;
    top: 33px;
}
div.music_info {
    display: inline-block;
    float: right;
    margin-top: 20px;
    margin-right: 10px;
    height: 71px;
    width: 410px;
}
span.music_hr {
    margin-top: 12px;
    display: inline-block;
    width: 410px;
    height: 3px;
    border-radius: 4px;
    background-color: #383838;
}
.music_info img {
    height: 18px;
    display: inline-block;
    float: right;
    margin-right: 18px;
}
.music_info span {
    color: white;
    font-family: MyriadPro-Bold;
}
span.songs_title {
    font-size: 22px;
    float: left;
    margin-bottom: 10px;
}
span.songs_information {
    font-size: 16px;
    float: left;
    width: 410px;
}
div::-webkit-scrollbar {
    border-radius: 2px;
    width: 6px;
    background-color: #808080;
}
div::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: white;
}
div.lyric {
    text-align: center;
    line-height: 25px;
    color: white;
    font-family: MyriadPro-Bold;
    font-size: 15px;
    left: 159px;
    bottom: 15px;
    position: relative;
    width: 410px;
    height: 150px;
    overflow-y: scroll;
}
ul#hot_singer_song {
    line-height: 30px;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: left;
}
span.hot_singer_name {
    display: inline-block;
    width: 90px;
}
span.hot_song_name {
    display: inline-block;
    width: 240px;
}
/*bottom_part*/
div#footer {
    height:465px;
    background-color:#202020;
}
#footer div {
    float: left;
    display: inline-block;
    margin-left: 35px;
    margin-right: 0;
    margin-top: 50px;
    width: 153px;
    font-family: MyriadPro-Bold;
    color: #aaaaaa;
}
span.footer_headline {
    font-size: 13px;
    display: inline-block;
    height: 29px;
    width: 153px;
}
span.line {
    display: inline-block;
    width: 153px;
    height: 2px;
    border-radius: 1px;
    background-color: #383838;
}
span.name_list {
    margin-top: 18px;
    color: #404040;
    display: inline-block;
    line-height: 23px;
    font-family: MyriadPro-Bold;
    font-size: 8px;
    height: 155px;
}
div#search_land {
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    left: 411px;
    top: 45px;
    height: 32px;
    width: 420px;
}
input#footer_search {
    border-right: 0;
    border-left: 2px #606060 solid;
    border-top: 2px #606060 solid;
    border-bottom: 2px #606060 solid;
    float: left;
    font-family: MyriadPro-Bold;
    font-size: 14px;
    color: #606060;
    border-radius: 2px;
    background-color: #202020;
    padding-left: 20px;
    display: inline-block;
    margin: 0;
    width: 330px;
    height: 31px;
    word-spacing: 2px;
}
div#search_button {
    letter-spacing: 0;
    word-spacing: 0;
    line-height: 37px;
    display: inline-block;
    padding: 0;
    margin: 0;
    display: inline-block;
    float: left;
    height: 37px;
    width: 60px;
    background-color: #f15024;
}
input::-webkit-input-placeholder {
    opacity: 0.55;
}
span#icon_list {
    height: 60px;
}
#icon_list img {
    margin-right: 3px;
}
#search_button span {
    font-family: MyriadPro-Bold;
    font-size: 23px;
    color: white;
}
span#arrow_right_1 {
    position: relative;
    left:42px;
}
span#arrow_right_2 {
    position: relative;
    left: 28px;
}
span#arrow_right_3 {
    position: relative;
    left: 9px;
}
span#arrow_right_4 {
    position: relative;
    right: 6px;
}
/*bottom audio*/
div#audio_bottom {
    width: 1200px;
    height: 65px;
    position: fixed;
    bottom: 0;
    background-color: #121212;
}
